@media only screen and (max-width: 1680px) {
  .about-content img {
    width: 480px;
  }
  .about-content p {
    margin-left: 4rem;
    line-height: 1.5;
    font-size: 16px;
    text-align: center;
  }
}

@media only screen and (max-width: 1200px) {
  .navigation-auto {
    max-width: 800px;
  }
  .slide img {
    width: 100%;
    height: 800px;
  }
  .slider {
    height: 800px;
  }

  .about-content {
    display: flex;
    flex-direction: column;
  }
  .about-content img {
    width: 380px;
    margin-bottom: 10px;
  }
  .about-content p {
    margin-left: 2rem;
    line-height: 1.5;
    font-size: 16px;
  }
  nav h1 {
    margin-left: 0%;
  }
  .menu {
    margin-right: 0%;
  }
}

@media (max-width: 1080px) {
  .testimonial-box {
    width: 75%;
    padding: 10px;
  }
}

@media only screen and (max-width: 900px) {
  .slider {
    height: 600px;
  }
  .navigation-auto {
    max-width: 600px;
  }
  .slide img {
    width: 100%;
    height: 600px;
  }
}
@media only screen and (max-width: 768px) {
  .main-website h2 {
    font-size: 50px;
    text-align: center;
  }
  .testimonials-heading h2 {
    font-size: 50px;
  }
  .side-text {
    font-size: 16px;
    text-align: center;
    padding: 10px;
  }
  .container-process {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .process-one {
    margin-bottom: 2.4rem;
  }
  .process-two {
    margin-bottom: 2.4rem;
  }
  .about-content {
    justify-content: center;
  }
  .about-content img {
    width: 220px;
  }
  .about-content p {
    font-size: 13px;
    margin: 0 auto;
  }
  .col-1 a,
  .col-2 a {
    font-size: 0.7rem;
  }

  .footer h3 {
    font-size: 0.9rem;
    padding-bottom: 10px;
  }
  .footer {
    justify-content: space-around;
  }
  .navigation-auto {
    max-width: 390px;
  }
  .slide img {
    width: 100%;
    height: 390px;
  }
  .slider {
    height: 390px;
  }
}
@media (min-width: 865px) {
  .mobile-menu,
  .hamburger {
    display: none;
  }
  .menu {
    display: flex;
  }
}
@media only screen and (max-width: 420px) {
  nav h1 {
    font-size: 0.8rem;
    padding: 0.3rem 0.8rem;
    padding-right: calc(0.8rem - 5px);
  }
}
